*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.content{
    max-width: 1700px;
    margin: auto;
    padding: 0px 0px;
}
nav{
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color: /*#0C0D36*/ blueviolet;
}
nav .content{
    display:flex; 
    float: right;
}
nav .content .menu-list{
    display: inline-flex;
}
.menu-list li{
    position: relative;
    height: 50px;
    list-style: none;
    justify-content: center;
}
.menu-list > li{
    float: left;
}
.menu-list li a{
    position: relative;
    top: 25%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 10px;
}
.menu-list li ul{
    width: 98.5px;
    top: 50px;
    background-color: #b6b7db;
    display: none;
    position: absolute;
}
.menu-list li ul li{
    justify-content: center;
    display: flex;
}
.menu-list li:hover > ul{
    display: block;
}
.menu-list li:hover{
    background-color: rgb(126, 126, 126);
    color: black;
}
.encabezado{
    align-items: center;
    justify-content: center;
}
.encabezado .title{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner{
    height: 90vh;
    background: url(img/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
section{
    padding: 20px 50px;
}
section p{
    text-align: justify;
}
.content .title-section{

    background-color:#0C0D36;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}
.content .title-section p{
    color: white;
}